.container {
    width: 100%;
    min-height: 100vh; /* aula 14 */
    background-color: #191919;
    color: #fff;
    text-align: center;
    padding-bottom: 1.5rem; /* aula 14 */
    padding-inline: 1.5rem;
    font-family: 'Rubik', sans-serif;
    overflow: hidden; /* esconder a barra de rolagem (aula 14) */ 
}