.container {
	padding-top: 84px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 95vh;
	background: #222;
	color: #fff;
	text-align: center;
}

.container h2 {
	padding-block: 1rem;
	
}